/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

header {
	position: fixed;
}

.container {
	width: 960px;
	margin: 0 auto;
}

ul {
	display: inline-block;
	margin-top: 20px;
}

ul li {
	display: inline-block;
	margin-right: 70px; 
}

nav img {
	vertical-align: middle;
}

nav a {
	color: #9e9e9e;
	text-decoration: none;
}

h1 {
	font-size: 80px;
	margin-top: 60px;
}

.jumbo {
	padding-top: 100px;
	margin-bottom: 50px;
}

.jumbo span {
	display: block;
}

.jumbo-text {
	text-align: center;
	width: 45%;
	float: left;
}

.jumbo-img {
	display: inline-block;
	width: 55%;
	text-align: right;
}

.btn {
	display: inline-block;
	border: 1px solid #000;
	padding: 10px 40px;
	text-decoration: none;
	color: #000;
}

.features,
.about {
	width: 48.66%;
	display: inline-block;
	margin: 20px 1.33% 20px 0;
}

.middle-img {
	background: url(img/mid-page-accent.jpg) no-repeat center center;
	background-size: cover;
	height: 180px;
	margin: 10px 0 20px;
}

.services,
.product,
.vision {
	width: 32.33%;
	display: inline-block;
	margin: 0 1% 30px 0;
}

.contact {
	margin-top: 30px;
}

address span {
	display: block;
	margin: 20px 0;
}

footer {
	text-align: center;
	margin-bottom: 50px;
}